{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur formation-facile.fr{% endblock %}

{% block body %}
        <section class="py-5 text-center container">
            <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Formation Facile</h1>
                <p class="lead text-body-secondary">Bienvenue sur le meilleur site de formation vidéo en français !</p>
                <p>
                <a href="#" class="btn btn-primary my-2">Voir les formations</a>
                <a href="#" class="btn btn-secondary my-2">En savoir plus</a>
                </p>
            </div>
            </div>
        </section>

        <div class="album py-5 bg-body-tertiary">
            <div class="container">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <!-- Item n°1 -->
                <div class="col">
                <div class="card shadow-sm">
                    <img width="100%" height="225" src="{{ asset('assets/img/midjourney.png') }}"/>
                    <div class="card-body">
                    <p class="card-text">Apprenez à créer des images par Intelligence Artificiel grâce à Midjourney !</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">Voir</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Editer</button>
                        </div>
                        <small class="text-body-secondary">12 heures</small>
                    </div>
                    </div>
                </div>
                </div>
                <div class="col">
                <div class="card shadow-sm">
                    <img width="100%" height="225" src="{{ asset('assets/img/unity.png') }}"/>
                    <div class="card-body">
                    <p class="card-text">Apprenez à développer des jeux multijoueurs avec Unity et le langage C# !</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">Voir</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Editer</button>
                        </div>
                        <small class="text-body-secondary">45 heures</small>
                    </div>
                    </div>
                </div>
                </div>
                <div class="col">
                <div class="card shadow-sm">
                    <img width="100%" height="225" src="{{ asset('assets/img/llama2.png') }}"/>
                    <div class="card-body">
                    <p class="card-text">Maitrisez Llama2, l'intéligence artificiele capable de générer du texte pour vous !</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">Voir</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Editer</button>
                        </div>
                        <small class="text-body-secondary">5 heures</small>
                    </div>
                    </div>
                </div>
                </div>

                <div class="col">
                <div class="card shadow-sm">
                    <img width="100%" height="225" src="{{ asset('assets/img/blender.png') }}"/>
                    <div class="card-body">
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">Voir</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Editer</button>
                        </div>
                        <small class="text-body-secondary">9 mins</small>
                    </div>
                    </div>
                </div>
                </div>
                <div class="col">
                <div class="card shadow-sm">
                    <img width="100%" height="225" src="{{ asset('assets/img/electron.png') }}"/>
                    <div class="card-body">
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">Voir</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Editer</button>
                        </div>
                        <small class="text-body-secondary">9 mins</small>
                    </div>
                    </div>
                </div>
                </div>
                <div class="col">
                <div class="card shadow-sm">
                    <img width="100%" height="225" src="{{ asset('assets/img/archi.png') }}"/>
                    <div class="card-body">
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">Voir</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Editer</button>
                        </div>
                        <small class="text-body-secondary">9 mins</small>
                    </div>
                    </div>
                </div>
                </div>

                <div class="col">
                <div class="card shadow-sm">
                    <img width="100%" height="225" src="{{ asset('assets/img/sd.png') }}"/>
                    <div class="card-body">
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">Voir</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Editer</button>
                        </div>
                        <small class="text-body-secondary">9 mins</small>
                    </div>
                    </div>
                </div>
                </div>
                <div class="col">
                <div class="card shadow-sm">
                    <img width="100%" height="225" src="{{ asset('assets/img/bard.png') }}"/>
                    <div class="card-body">
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">Voir</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Editer</button>
                        </div>
                        <small class="text-body-secondary">9 mins</small>
                    </div>
                    </div>
                </div>
                </div>
                <div class="col">
                <div class="card shadow-sm">
                    <img width="100%" height="225" src="{{ asset('assets/img/ue.png') }}"/>
                    <div class="card-body">
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">Voir</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Editer</button>
                        </div>
                        <small class="text-body-secondary">9 mins</small>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
{% endblock %}
